@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,800&display=swap');

body{
    width: 375px;
    height: 812px;
    background:#407AFF;
    font-family: 'Montserrat Alternates', 'sans-serif';
    color: #fff;
    
}
h1{
    font-family: 'Montserrat';
    font-style: bold;
    font-weight: 800;
    font-size: 32px;
   
}
.logo-main{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img{
    width: 93px;
    height: 93px;
    
}
h3{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    margin:6px;
}
.cab{
    display: flex;
    margin: 20px;
    margin-top: 62px;
    
    
}
.cad-two{
    margin-top: 100px;
    margin-left: 20px;
}
.cab img{
    margin-left: 20px;
}
.cpf{
    width: 246px;
    height: 40px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #407AFF;
    color: #FFFFFF;
}
.dn{
    width: 157px;
    height: 40px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #407AFF;
    color: #FFFFFF;
}
.botao{
    background: #FFFFFF;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 157px;
    height: 40px;
    margin-left: 20px;
   
}
.form-two{
    margin-top: 30px;
}
.cab a img{
    width: 16px;
    height: 16px;
   
}
.seta{
    display: flex;
    margin-top:200px;
   
    
}
.seta a img{
    width: 52px;
    height: 51px;
    margin-left: 3px;

}
p{
    font-family:'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
}
.comecar{
    font-family:'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
}
.cab-tree{
    display: flex;
}
.cab-tree h1{
    font-family:'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
}
.cab-tree a img{
    width: 16px;
    height: 16px;
    }

/*CSS página INDEX3.HTML*/
.colun-1a{
    margin-top: 50px;
}
.colun-1a {
    margin-top: 50px;
}
.colun-2b {
    margin-left: 0px;
}
.colun-2b a img {
    width: 16px;
    height: 16px;
    margin-left: 65px;
}
.colun-3a {
    margin-top: 30px;
}
.colun-4a {
    margin-top: 40px;
}
.colun-5a {
    margin-top: 20px;
}
.tel{
    width: 246px;
    height: 40px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #407AFF;
    color: #FFFFFF;
}
/* FIM CSS INDEX3 */

